.Article-Section {
    width: 100%;
    margin: 0;
}
.input-list {
    border: none;
    padding: 2px;
    overflow: visible;
    margin-left: 50px;
}

.input-list input {
    width: 100%;
}

.input-list:hover {
    border-left: 1px solid gray;
}

.input-list-item {
    border: none;
    font-size: 0.9rem;
    overflow: auto;
    margin-top: 4px;
    margin-bottom: 4px;
}

.input-list-item:focus {
    outline: none
}

.item-toolbar {
    display: none;
}

.item-toolbar.active {
    display: flex;
}
.toolbar-list {
    flex-direction: column;
}