.HomeArticles {
    padding: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.list-home-articles {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
}

.tab-title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}

.button-link.active {
    border-top: 2px solid black;
}

.btn-add-item {
    text-decoration: none;
    background: none;
    border: none;
    color: blue;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 9999;
    cursor: pointer;
}

.btn-add-item.material-icons-outlined {
    font-size: 3rem;
}

@media (max-width: 840px) {
    .HomeArticles {
        padding: 3px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .list-home-articles {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .HomeArticles {
        display: flex;
        flex-direction: column;
    }

    .home-left-column {
        visibility: hidden;
        width: 0;
    }
    .home-right-column {
        visibility: hidden;
        width: 0;
    }

    .list-home-articles {
        display: flex;
        flex-direction: column;
    }
}

