.HomeArticles {
    padding: 10px;
}

.list-home-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
}

.tab-title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 10px;
}

.button-link.active {
    border-top: 2px solid black;
}

.btn-add-item {
    text-decoration: none;
    background: none;
    border: none;
    color: blue;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    z-index: 9999;
    cursor: pointer;
}

.btn-add-item.material-icons-outlined {
    font-size: 3rem;
}

@media (max-width: 840px) {
    .list-home-articles {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {
    .list-home-articles {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
    }
}

