.Modal {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.intern-box {
    background-color: #fff;
    width: auto;
    border: 2px solid red;
    border-radius: 6px;
}

.Modal[visible='visible'] {
    display: block;
}

.Modal[modal-justify-content='center'] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal[visible='hidden'] {
    display: none;
}